[Unit]
Description=Wayward Geek InfNoise TRNG driver

[Service]
Type=forking
WorkingDirectory=/tmp
ExecStart=/usr/sbin/infnoise --dev-random --daemon --pidfile /var/run/infnoise.pid
User=root
Group=root
Restart=never
BindsTo=dev-infnoise.device
After=dev-infnoise.device

[Install]
WantedBy=multi-user.target
